				@font-face {
					font-family: 'carlote';
					src: url('/wp-content/uploads/useanyfont/3267CARLOTE.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/3267CARLOTE.woff') format('woff');
					  font-display: auto;
				}

				.carlote{font-family: 'carlote' !important;}

						@font-face {
					font-family: 'islandia-script';
					src: url('/wp-content/uploads/useanyfont/7391islandia-script.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/7391islandia-script.woff') format('woff');
					font-weight: 400; font-style: normal; font-display: auto;
				}

				.islandia-script{font-family: 'islandia-script' !important;}

						@font-face {
					font-family: 'amantta';
					src: url('/wp-content/uploads/useanyfont/5729amantta.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/5729amantta.woff') format('woff');
					  font-display: auto;
				}

				.amantta{font-family: 'amantta' !important;}

						@font-face {
					font-family: 'dafilea';
					src: url('/wp-content/uploads/useanyfont/5893Dafilea.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/5893Dafilea.woff') format('woff');
					  font-display: auto;
				}

				.dafilea{font-family: 'dafilea' !important;}

						@font-face {
					font-family: 'motterdam';
					src: url('/wp-content/uploads/useanyfont/2316Motterdam.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/2316Motterdam.woff') format('woff');
					  font-display: auto;
				}

				.motterdam{font-family: 'motterdam' !important;}

						@font-face {
					font-family: 'american-signa';
					src: url('/wp-content/uploads/useanyfont/6078American-signa.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/6078American-signa.woff') format('woff');
					  font-display: auto;
				}

				.american-signa{font-family: 'american-signa' !important;}

						@font-face {
					font-family: 'frontman';
					src: url('/wp-content/uploads/useanyfont/9204Frontman.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/9204Frontman.woff') format('woff');
					  font-display: auto;
				}

				.frontman{font-family: 'frontman' !important;}

						@font-face {
					font-family: 'handbridgeregular-8o';
					src: url('/wp-content/uploads/useanyfont/6406HandbridgeRegular-8O.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/6406HandbridgeRegular-8O.woff') format('woff');
					  font-display: auto;
				}

				.handbridgeregular-8o{font-family: 'handbridgeregular-8o' !important;}

						@font-face {
					font-family: 'kena-g';
					src: url('/wp-content/uploads/useanyfont/4524Kena-G.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/4524Kena-G.woff') format('woff');
					  font-display: auto;
				}

				.kena-g{font-family: 'kena-g' !important;}

						@font-face {
					font-family: 'arski';
					src: url('/wp-content/uploads/useanyfont/6885Arski.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/6885Arski.woff') format('woff');
					  font-display: auto;
				}

				.arski{font-family: 'arski' !important;}

						@font-face {
					font-family: 'mesheddisplay-regula';
					src: url('/wp-content/uploads/useanyfont/9755MeshedDisplay-Regula.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/9755MeshedDisplay-Regula.woff') format('woff');
					  font-display: auto;
				}

				.mesheddisplay-regula{font-family: 'mesheddisplay-regula' !important;}

						@font-face {
					font-family: 'mode-reguler';
					src: url('/wp-content/uploads/useanyfont/7538Mode-Reguler.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/7538Mode-Reguler.woff') format('woff');
					  font-display: auto;
				}

				.mode-reguler{font-family: 'mode-reguler' !important;}

		